    <header>
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="./index.php">photo<span class="logo_colour">_style_two</span></a></h1>
          <h2>Simple. Contemporary. Website Template.</h2>
        </div>
      </div>
      <nav>
        <ul class="sf-menu" id="nav">
          <li class="selected"><a href="index.html">Home</a></li>
          <li><a href="about.html">About Me</a></li>
          <li><a href="portfolio.html">My Portfolio</a></li>
          <li><a href="blog.html">Blog</a></li>
          
        </ul>
      </nav>
    </header>